node_modules
/dist
*.tsbuildinfo
*.sqlite
*.sqlite-shm
*.sqlite-wal
.env
deploy/.env.prod
.nest-cli.json
.DS_Store
npm-debug.log*
services/**/node_modules/
services/**/target/
services/**/__pycache__/
services/**/*.pyc
services/**/*.db
services/**/.bundle/
.idea/
.vscode/
